
<div>
  <h1>
    Previous Transactions:
  </h1>
</div>
<!--Render our prevous projects on our homepage-->
{{#each projects as |project| }}

<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <h3>Last 4# of Card:</h3>
      <a href="/project/{{project.id}}">{{project.number}}</a>
    </h2>
  </div>
  <div class="col-md-7 pd-5px">
    <p>
      <h3>Transaction</h3>
      <span for="img" aria-label="money">💲</span>
      <span class="dollar-amount">{{format_amount amount}}</span>
    </p>
  </div>
</div>
{{/each}}