:root {
  --dark: #0c5a19;
  --light: #4da86b;
}


nav {
  text-align: right;
  font-size: 20px;
  font-weight: 700;
  color: green;
	background: forestgreen;
}

nav:hover {
  
}

h1 {
  color: whitesmoke;
}

a {
  color: white;
}

body {
  background-color: rgb(32, 32, 32);
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

footer {
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
  height: auto;
  color: whitesmoke;
}

header {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  color: white;
  padding: 20px;
	background: linear-gradient(to left,var(--dark) 47%, var(--light) 100%);
  font-family: initial;

}


.project:not(:last-child) {
  border-bottom: 1px solid rgb(143, 141, 141);
}

.no-button {
  font-weight: 700;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #d10a0a;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

* {
  margin:0;
  padding:0
}
a,a:hover{
text-decoration: none;
}
.myform-area{
overflow: hidden;
padding: 60px 0;
background: #f4fffe;
position: relative;
padding-top: 100px;
padding-bottom: 100px;
}
.myform-area .form-area{
position: relative;
background: darkgreen;
width: 100%;
height: 400px;
overflow: hidden;
box-shadow: 0 0 40px 0 #e1e1e1;
}

.myform-area .form-area .form-content,
.myform-area .form-area .form-input{
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
  box-sizing: border-box;
}

.myform-area .form-area .form-content{
width: 50%;
padding: 40px 30px;
}

.myform-area .form-area .form-content h2{
color: #fff;
}
.myform-area .form-area .form-content p{
color: #fff;
}
.myform-area .form-area .form-content ul{
margin-top: 50px;
}

.myform-area .form-area .form-content ul li{
display: inline-block;
margin-right: 10px;
}
.myform-area .form-area .form-content a i{
  margin-right: 10px;
}

.myform-area .form-area .form-content .facebook{
display: block;
padding: 10px 20px;
background: #3B579D;
color: #fff;
font-size: 15px;
text-transform: capitalize;
border-radius: 4px;
border: 1px solid #3B579D;
-webkit-transition: all .5s;
-o-transition: all .5s;
transition: all .5s;
}

.myform-area .form-area .form-content .facebook:hover,
.myform-area .form-area .form-content .facebook:focus{
  background: transparent;
}

.myform-area .form-area .form-content .twitter{
display: block;
 padding: 10px 20px;
 background: #00ACED;
 color: #fff;
 font-size: 15px;
 text-transform: capitalize;
 border-radius: 4px;
 border: 1px solid #00ACED;
 -webkit-transition: all .5s;
 -o-transition: all .5s;
 transition: all .5s;
}

.myform-area .form-area .form-content .twitter:hover,
.myform-area .form-area .form-content .twitter:focus{
  background: transparent;
}
.myform-area .form-area .form-input{
background-color: white;
position: relative;
overflow: hidden;
box-shadow: 0 0 40px 0 #e1e1e1;
}
.myform-area .form-area .form-input{
  width: 50%;
  background: #fff;
  padding: 40px 30px;
}

.myform-area .form-area .form-input h2{
margin-bottom: 20px;
  color: #07315B;
}

.myform-area .form-area .form-input input{
  position: relative;
  height: 60px;
  padding: 20px 0;
}
.myform-area .form-area .form-input textarea{
  height: 120px;
  padding: 20px 0;
}

.myform-area .form-area .form-input input,
.myform-area .form-area .form-input textarea{
  text-transform: capitalize;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-bottom: 2px solid #e1e1e1;
  color: forestgreen;
}
.myform-area .form-area .form-input form .form-group{
  position: relative;
}
.myform-area .form-area .form-input form .form-group label{
  position: absolute;
  text-transform: capitalize;
  top: 20px;
  left: 0;
  pointer-events: none;
  font-size: 14px;
  color: #595959;
  margin-bottom: 0;
  transition: all .6s;
}
.myform-area .form-area .form-input input:focus ~ label,
.myform-area .form-area .form-input textarea:focus ~ label,
.myform-area .form-area .form-input input:valid ~ label,
.myform-area .form-area .form-input textarea:valid ~ label{
  top: -5px;
  opacity: 0;
  left: 0;
  color: forestgreen;
  font-size: 12px;
  color: #07315B;
  font-weight: bold;
}
.myform-area .form-area .form-input input:focus,
.myform-area .form-area .form-input textarea:focus,
.myform-area .form-area .form-input input:valid,
.myform-area .form-area .form-input textarea:valid{
  border-bottom: 2px solid rgba(103,58,183);
}
.myform-area .form-area .form-text{
  margin-top: 30px;
}
.myform-area .form-area .form-text span a{
  color: rgba(103,58,183);
}
.myform-area .form-area .myform-button{
  margin-top: 30px;
}
.myform-area .form-area .myform-button .myform-btn{
  width: 100%;
  height: 50px;
  font-size: 17px;
  background: green;
  border: none;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.myform-area .form-area .myform-button .myform-btn:hover{
  background: #07315B;
}

