:root {
  --dark: #0c5a19;
  --light: #4da86b;
}

nav {
  text-align: justify content center;
  font-size: 20px;
  font-weight: 900;
  color: green;
	background: grey;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: auto;

}

header {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  color: white;
  padding: 20px;
	background: linear-gradient(to left,var(--dark) 47%, var(--light) 100%);

}


.project:not(:last-child) {
  border-bottom: 1px solid rgb(143, 141, 141);
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1bbc5e;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #d10a0a;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}



